/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2017, 8:55:58 PM
    Author     : Shasha Chaicharncheep
*/

body {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Arial";
    color: white;
    width: 90%;
  
}
table {
       padding-top: 0px;
       padding-right: 30px;
       padding-bottom: 30px;
       padding-left: 30px;
       margin-top: 20px;
       text-align:center; 
       margin-left:auto; 
       margin-right:auto; 
      
}
table {
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid #999999;
    margin-bottom: 20px;
}

tr:hover {background-color: #666666}

#registerHeader {
    padding-bottom: 30px;
}

.deleteAccount {
    vertical-align: middle;
}

h1 {
    font-size: 20px;
    color: #50a8dd;
}

h2 {
    text-align: center;
    font-size: 20px;
}

p {
    color: black;
    text-align: center;
}


td {
    padding: 10px 10px 10px 10px;
}

.logo {
    float: left;
    width: 150px;
    height: 100px;
}

.mainTable {
    background-color: #808080;
    padding-top: 15px;
    margin-top: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.wrapper {
    background-color : #DCDCDC;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 100%;
    margin: auto;
    align-content: center;
}

.header {
    padding-bottom: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    display: inline;
    float: left;
    background-color: white;
}

a {

    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #778899;
}

.welcomeText {
    text-align: left;
}

.active {
    background-color: #4CAF50;
}

#listingsTable {
    background-color: #808080;
    padding-top: 15px;
    margin-top: 30px;
    
}

#listingsTable.tr {
    background-color: white;
}
